{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'registration_page' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>{{ 'front.2fa.entry.complete_title'|trans }}</h1>
        </div>
    </div>
    <div class="ec-registerCompleteRole">
        <div class="ec-reportHeading">
            <h2>{{ 'front.2fa.entry.complete_message__title'|trans }}</h2>
        </div>
        <div class="ec-off3Grid ec-text-ac">
            <div class="ec-off3Grid__cell">
                <p class="ec-reportDescription">{{ 'front.2fa.entry.complete_message__activated'|trans|nl2br }}</p>

            </div>
        </div>
        <div class="ec-off4Grid">
            <div class="ec-off4Grid__cell">
                <a class="ec-blockBtn--cancel" href="{{ url('plg_customer_2fa_device_auth_send_onetime') }}">{{ 'front.2fa.entry.go_to_auth'|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}
